@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
   background-image: url(../img/fondo-lineas.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 36px;
   line-height: 100%;
   text-align: center;
}

h2{
   text-decoration: underline 2px;
   text-underline-offset: 10px
}

main{
   width: 1200px;
   height: 1295px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 40px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.productos{
   width: 554px;
   height: 1122px;
   border-radius: 30px;
   background-color: #111111;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.total{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-evenly;
}

.compra{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 1129px;
   height: 1154px;
   border-radius: 26px;
   border: 1px #FFFFFF solid;
   padding: 1%;
}

.precio{
   width: 283px;
   height: 107px;
   border-radius: 26px;
   background-color: #D4D4D4;
   color: #003D02;
   display: flex;
   align-items: center;
   justify-content: center;
}

.medios{
   height: 1154px;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   gap: 100px;
}

.medios button{
   width: 460px;
   height: 92px;
   border-radius: 26px;
   border: 7px solid;
   font-size: 36px;
   font-family: 'Inter';
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 50px;
   cursor: pointer;
}

#cre-deb img{
   width: 76px;
   height: 76px;
   border-radius: 20px;
}

#mp{
   border-color: #3BBEC3;
}

#cre-deb{
   border-color: #894900;
}

#efe{
   border-color: #003706;
}