@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
   background-image: url(../img/fondo-lineas.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 36px;
   line-height: 100%;
   text-align: center;
}

h2{
   text-decoration: underline 2px;
   text-underline-offset: 10px
}

main{
   width: 1200px;
   height: 1295px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 40px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.productos{
   width: 554px;
   height: 1122px;
   border-radius: 30px;
   background-color: #111111;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.total{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-evenly;
}

.compra{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 1129px;
   height: 1154px;
   border-radius: 26px;
   border: 1px #FFFFFF solid;
   padding: 1%;
}

.precio{
   width: 283px;
   height: 107px;
   border-radius: 26px;
   background-color: #D4D4D4;
   color: #003D02;
   display: flex;
   align-items: center;
   justify-content: center;
}

.medios{
   height: 1154px;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   gap: 100px;
}

.medios button{
   width: 460px;
   height: 92px;
   border-radius: 26px;
   border: 7px solid;
   font-size: 36px;
   font-family: 'Inter';
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 50px;
   cursor: pointer;
}

#cre-deb img{
   width: 76px;
   height: 76px;
   border-radius: 20px;
}

#mp{
   border-color: #3BBEC3;
}

#cre-deb{
   border-color: #894900;
}

#efe{
   border-color: #003706;
}

/* nuevo */

#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo img{
    width: 1100px;
    height: 225px;
}
#inicio-sesion::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}

#inicio-sesion{
    width: 29%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border: solid 6px rgb(103, 103, 103);
    border-radius: 30px;
}
#izq-m{
    width: 40%;
    margin-left: 10px;
}
#der-m{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#centro-modal{
    display: flex;
}
#candado,#tarjeta-de-credito{
    margin-top: 70px;
    width: 110%;
}
.olvidaste{
    display: flex;
    width: 100%;
    align-items: center;
}
.olvidaste img{
    aspect-ratio: 1;
    width: 30px;
    height: 30px;
}
.olvidaste p{
    margin-top: 15px;
    margin-bottom: 12px;
    padding-bottom: 3px;
    border-bottom: solid 1px rgb(255, 255, 255);
}
#t-inicio{
    text-align: center;
    background-color: #242424;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 43px;
    color: #C5C5C5;
    margin-top: 30px;
    margin-bottom: 0px;
}
.input-sesion{
    width: 85%;
    height: 45px;
    border-radius: 27px;
    background-color: #24242400;
    border: solid 1px white;
    outline: none;

    color: rgb(27, 27, 27);
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-style: Bold;
    padding-left: 15px;
}
.titulo-input-modal{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    justify-content: start;
    align-items: start;
}
#ingresar{
    margin-top: 20px;
    width: 85%;
    height: 45px;
    border-radius: 27px;
    font-weight: 700;
    background-color: #3f3f3f;
    color: white;
    border: solid 1px rgb(0, 0, 0);
    font-family: "Segoe UI", sans-serif;
}
#google{
    width: 68%;
    height: 40px;
    border-radius: 27px;
    margin-top: 0px;
    background-color: #f9f5f5;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 3%;
    border: 1px solid gold;
}
#google img{
    margin-right: 3px;
}
#Inicia-sesion{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #242424;

}
#no-tienes-cuenta{
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: #EDEDED;
    margin-bottom: 7px;
    margin-top: 5px;
}
#registrarse-boton{
    margin-bottom: 20px;
    margin-top: 0px;
    width: 60%;
    height: 45px;
    border-radius: 27px;
    background-color: #2d2d2d17;
    color: white;
    border: solid 1px rgb(0, 0, 0);
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
#btn-cerrar{
    display: none;
}
#inicio-sesion a {
  color: inherit;
  text-decoration: none;
}