@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(../img/fondo-lineas.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 225%;
    width: 810px;
}


h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 16.5px;
   line-height: 100%;
   text-align: center;
}

h2{
   text-decoration: underline 1.5px;
   text-underline-offset: 4.5px;
}

main{
   width: 810px;
   height: 800px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 18px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.productos{
   width: 340px;
   height: 650px;
   border-radius: 13.5px;
   background-color: #111111;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.total{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-evenly;
}

.compra{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 650px;
   height: 700px;
   border-radius: 12px;
   border: 1.5px #FFFFFF solid;
   padding: 1%;
}

.precio{
   width: 127.5px;
   height: 48px;
   border-radius: 12px;
   background-color: #D4D4D4;
   color: #003D02;
   display: flex;
   align-items: center;
   justify-content: center;
}

.medios{
   height: 650px;
   margin-top: 13.5px;
   display: flex;
   flex-direction: column;
   gap: 45px;
}

.medios button{
   width: 270px;
   height: 89px;
   border-radius: 12px;
   border: 3px solid;
   font-size: 16.5px;
   font-family: 'Inter';
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 22.5px;
   cursor: pointer;
   padding: 5px;
}

#cre-deb img{
   width: 64.5px;
   height: 64.5px;
   border-radius: 9px;
}

#mp{
   border-color: #3BBEC3;
}

#mp img{
   width: 64.5px;
   height: 64.5px;
   border-radius: 9px;
}

#cre-deb{
   border-color: #894900;
}

#efe{
   border-color: #003706;
}

#efe img{
   width: 64.5px;
   height: 64.5px;
   border-radius: 9px;
}

#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo img{
    width: 495px;
    height: 102px;
}

#credito-o-debito::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}

#credito-o-debito{
    width: 43.5%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border: solid 3px rgb(103, 103, 103);
    border-radius: 13.5px;
}

.izq-m{
    width: 60%;
    margin-left: 4.5px;
}

.der-m{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#centro-modal{
    display: flex;
}

#candado{
    margin-top: 31.5px;
    width: 165%;
}

.status{
    display: flex;
    width: 100%;
    align-items: center;
}

.status img{
    aspect-ratio: 1;
    width: 13.5px;
    height: 13.5px;
}

.status p{
    margin-top: 7.5px;
    margin-bottom: 4.5px;
    padding-bottom: 1.5px;
    border-bottom: solid 0.75px rgb(255,255,255);
    font-weight: 700;
    font-size: 7.5px;
    line-height: 100%;
    color: white;
    font-family: "Segoe UI", sans-serif;
}

#t-inicio{
    text-align: center;
    background-color: #242424;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 19.5px;
    color: #C5C5C5;
    margin-top: 13.5px;
    margin-bottom: 0px;
}

.input-sesion{
    width: 127.5%;
    height: 21px;
    border-radius: 12px;
    background-color: #24242400;
    border: solid 1.5px white;
    outline: none;
    color: rgb(27,27,27);
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    padding-left: 7.5px;
}

.titulo-input-modal{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 6px;
    line-height: 100%;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
}

#ingresar{
    margin-top: 9px;
    width: 127.5%;
    height: 21px;
    border-radius: 12px;
    font-weight: 700;
    background-color: #3f3f3f;
    color: white;
    border: solid 1.5px black;
    font-family: "Segoe UI", sans-serif;
}

#google{
    width: 102%;
    height: 18px;
    border-radius: 12px;
    background-color: #f9f5f5;
    color: black;
    font-weight: 700;
    font-size: 7.5px;
    display: flex;
    align-items: center;
    padding-left: 1.5%;
    border: 1.5px solid gold;
}

#google img{
    margin-right: 1.5px;
}

#Inicia-sesion{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 7.5px;
    line-height: 100%;
    color: #242424;
}

#no-tienes-cuenta{
    font-weight: 700;
    font-size: 6px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: #EDEDED;
    margin-bottom: 3px;
    margin-top: 3px;
}

#registrarse-boton{
    margin-bottom: 9px;
    width: 90%;
    height: 21px;
    border-radius: 12px;
    background-color: #2d2d2d17;
    color: white;
    border: solid 1.5px black;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    font-size: 10.5px;
    text-align: center;
}

#btn-cerrar{
    display: none;
}

#inicio-sesion a {
    color: inherit;
    text-decoration: none;
}

#t-credito-debito{
    text-align: center;
    background-color:#3F2A039E;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 19.5px;
    color: #C5C5C5;
    margin-top: 13.5px;
    margin-bottom: 4.5px;
}

.titulo-input-modal-2{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 6px;
    width: 127.5%;
    color: #dedddd;
    margin-top: 6px;
    margin-bottom: 6px;
}

#tarjeta-de-credito{
    margin-top: 31.5px;
    margin-bottom: 4.5px;
    margin-right: 4.5px;
    width: 165%;
}

#pagar{
    margin-top: 9px;
    width: 127.5%;
    height: 22.5px;
    border-radius: 12px;
    font-weight: 700;
    background-color: #3f3f3f;
    color: white;
    border: solid 1.5px black;
    font-family: "Segoe UI", sans-serif;
    font-size: 10.5px;
    text-align: center;
    margin-bottom: 9px;
}

#img-debito-o-credito{
    width: 12px;
    margin-right: 3px;
}

#img-debito-o-credito2{
    width: 12px;
    margin-right: 3px;
}

#mercado-pago::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}

#mercado-pago{
    width: 43.5%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border: solid 3px rgb(103,103,103);
    border-radius: 13.5px;
}

.izq-m2{
    width: 45%;
    margin-left: 4.5px;
}

.der-m2{
    width: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-qr-mercado-pago{
    width: 120%;
    margin-bottom: 13.5px;
    border-radius: 9px;
}

#escanee-el-codigo{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 10.5px;
    text-align: center;
    color: rgb(237,233,233);
}

#t-mercado-pago{
    text-align: center;
    background-color:#60F4FF9E;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 19.5px;
    color: #f6f6f6;
    margin-top: 13.5px;
    margin-bottom: 4.5px;
}

#telefono-de-mercado-pago{
    margin-top: 31.5px;
    margin-bottom: 4.5px;
    margin-right: 4.5px;
    width: 180%;
}

#t-efectivo{
    text-align: center;
    background-color:#0435089e;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 19.5px;
    color: #f6f6f6;
    margin-top: 13.5px;
    margin-bottom: 4.5px;
}

#efectivo::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}

#efectivo{
    width: 60%;
    background-color: rgb(85,85,85);
    padding: 0px;
    border: solid 3px rgb(103,103,103);
    border-radius: 13.5px;
}

.izq-m3{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.der-m3{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-input-modal-3{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 6px;
    color: #dedddd;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 135%;
}

.input-sesion2{
    width: 135%;
    height: 21px;
    border-radius: 12px;
    background-color: #24242400;
    border: solid 1.5px white;
    outline: none;
    text-align: center;
    color: rgb(27,27,27);
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    padding-left: 7.5px;
}

.centrar-input-modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#vaciar-carrito{
    margin-top: 45px;
    width: 270px;
    height: 45px;
    border-radius: 12px;
    font-weight: 700;
    background-color: #b30000;
    color: white;
    border: solid 1.5px black;
    font-family: "Segoe UI", sans-serif;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 900px) {
    body {
        width: 100%;
        background-size: cover;
        height: auto;
    }

    main {
        width: 95%;
        height: auto;
        padding: 15px;
    }

    .compra {
        width: 95%;
        height: auto;
        flex-direction: column;
        gap: 25px;
    }

    .productos {
        width: 90%;
        height: auto;
        padding: 15px 0;
    }

    .medios {
        height: auto;
        gap: 25px;
        width: 100%;
        align-items: center;
    }

    .medios button {
        width: 80%;
    }

    #titulo img {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 600px) {

    h1 { font-size: 15px; }

    .compra {
        border-width: 1px;
        padding: 10px;
    }

    .productos {
        width: 100%;
    }

    .precio {
        width: 110px;
        height: 40px;
        font-size: 14px;
    }

    .medios button {
        width: 100%;
        height: 70px;
        font-size: 14px;
        gap: 15px;
        padding: 10px;
    }

    .medios button img {
        width: 50px !important;
        height: 50px !important;
    }

    #vaciar-carrito {
        width: 90%;
        height: 40px;
        font-size: 14px;
    }

    #mercado-pago,
    #credito-o-debito,
    #efectivo {
        width: 90%;
        border-width: 2px;
    }

    #centro-modal {
        flex-direction: column;
        align-items: center;
    }

    .izq-m, .der-m,
    .izq-m2, .der-m2,
    .izq-m3, .der-m3 {
        width: 90%;
        margin: 0;
    }

    #candado,
    #tarjeta-de-credito,
    #telefono-de-mercado-pago {
        width: 100%;
        margin: 15px 0;
    }

    #img-qr-mercado-pago {
        width: 100%;
    }

    .input-sesion,
    .input-sesion2,
    #ingresar,
    #pagar,
    #registrarse-boton {
        width: 100%;
    }

    #google {
        width: 100%;
    }
}