@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
   background-image: url(../img/fondo-lineas.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 11px;
   line-height: 100%;
   text-align: center;
}

h2{
   text-decoration: underline 1px;
   text-underline-offset: 3px;
}

main{
   width: 360px;
   height: 389px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 12px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.medios{
    display: flex;
    flex-direction: column;
   width: 339px;
   height: 346px;
   border-radius: 8px;
   border: 1px #FFFFFF solid;
   padding: 1%;
   text-align: center;
}

.medio{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: flex-start;
    align-items: center;        
    gap: 15px;
}

.medio img{
    width: 50px;
    border-radius: 6px;
}