@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(../img/fondo-lineas.png);
    height: 225%;
    width: 810px;
}

h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 16.5px;
   line-height: 100%;
   text-align: center;
}

h2{
   text-decoration: underline 1.5px;
   text-underline-offset: 4.5px;
}

main{
   width: 810px;
   height: 800px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 18px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.medios{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 700px;
    border-radius: 12px;
    border: 1.5px #FFFFFF solid;
    padding: 121.5%;
    padding: 1.5%;
    text-align: center;
    margin: auto;
}

.medio{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: flex-start;
    align-items: center;
    gap: 22.5px;
}

.medio img{
    width: 125px;
    border-radius: 9px;
}

.medio p{
   font-size: 40px;
}
@media (max-width: 1000px) {
  html{
   background-image: url(../img/fondo-lineas.png);
    background-repeat: no-repeat;
  }
}
@media (max-width: 900px){
    .medios{
     padding: 20px; 
     margin-left: auto;
     margin-right: auto;   
    }
    .medio p{
        font-size: 32px;
        text-align: left;
    }
}

@media (max-width: 600px){

    h1{
        font-size: 15px;
    }

    main{
        padding: 15px;
    }

    .medios{
        padding: 10px;
    }

    .medio{
        justify-content: center;
        text-align: center;
    }

    .medio img{
        width: 150px;
        max-width: 60%;
    }

    .medio p{
        font-size: 26px;
        width: 100%;
        text-align: center;
    }
}