@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}

html, body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  align-items: end;
}

footer #dino {
  display: flex;
  align-items: end;
}

footer #dino img {
  width: 219.81px;
  height: 245.05px;
  opacity: 1;
}

footer #robot img {
  width: 170.47px;
  height: 212.87px;
  opacity: 1;
}

footer p {
  color: #C5C5C5;
}

footer h1 {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  font-size: 96px;
  line-height: 100%;
  color: #EDEDED;
  width: 693px;
  height: 110px;
  opacity: 1;
  margin: 40px 0 0;
}

footer hr {
  width: 719px;
  opacity: 1;
  margin: 0 20px;
}

footer #div-der p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  width: 727px;
  height: 34px;
  opacity: 1;
}

footer #div-izq p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}

footer #div-izq,
footer #div-der {
  background-color: #1F1F1F;
  height: 212px;
  opacity: 1;
  border-radius: 19px;
}

footer #div-izq {
  width: 404px;
}

footer #div-der {
  width: 760px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul img {
  width: 56.07px;
  height: 43.05px;
  opacity: 1;
  border-width: 1.5px;
  margin-left: 50px;
}

footer li {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  align-items: center;
}

header p {
  color: #C5C5C5;
}

header h1 {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  font-size: 96px;
  line-height: 100%;
  color: #EDEDED;
  width: 693px;
  height: 110px;
  opacity: 1;
  margin: 40px 0 0;
}

header #antesDelNav {
  background-color: #242424;
  height: 50px;
}

header nav {
  background-color: black;
  height: 60px;
  width: 100%;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

header ul p {
  font-size: 24px;
  text-align: center;
}

header ul img {
  width: 56.07px;
  height: 43.05px;
  opacity: 1;
  border-width: 1.5px;
  margin-left: 50px;
}

header #circulo-carrito {
  background-color: #242424;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

header #circulo-carrito img {
  width: 34px;
  height: 34px;
  margin-top: 7px;
  position: absolute;
  left: 100px;
}

header a {
  text-decoration: none;
}

header a:active {
  text-decoration: underline white;
}

header li {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
}

header #titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header #titulo img {
  width: 1100px;
  height: 225px;
}

/* body */
body{
  background-color: #242424;
}
#contenedor{
  max-width: 80%;
  margin: auto;
}
#centroIndex{
  display: flex;
  width: 100%;
  height: 400px;
}
#imagenesIndex{
  display: grid;
  width: 70%;
  padding-top: 20px;
  padding-left: 300px;
}
#imagenesIndex img{
  position: absolute;
}
#modelo1{
  z-index:1;
  padding-top: 80px;
  padding-left: 80px;
}
#modelo2{
  z-index: 2;
}
#centroTexto{
  width: 100%;
  margin-top: 150px;
  font-size: 20px;
  color: bisque;
}
#tuIdea{
  text-align: center;
  font-size: 18px;
  color: bisque;
}