@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-style: italic;
    font-weight: 100 900;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: end;
    width: 810px;
}

#dino {
    display: flex;
    align-items: end;
}

#dino img {
    width: 63px;
    height: 69px;
    opacity: 1;
}

#robot img {
    width: 48px;
    height: 60px;
    opacity: 1;
}

footer p {
    color: #C5C5C5;
}

footer h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    font-size: 27px;
    line-height: 100%;
    color: #EDEDED;
    width: 196.5px;
    height: 30px;
    opacity: 1;
    margin: 12px 0 0;
}

#div-der p {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    font-size: 7.5px;
    line-height: 100%;
    text-align: center;
    width: 205.5px;
    height: 9px;
    opacity: 1;
}

#div-izq p {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    font-size: 9px;
    line-height: 100%;
    margin: 0px;
}

#div-izq {
    background-color: #1F1F1F;
    width: 114px;
    height: 60px;
    opacity: 1;
    border-radius: 6px;
}

#div-der {
    background-color: #1F1F1F;
    width: 216px;
    height: 60px;
    opacity: 1;
    border-radius: 6px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul img {
    width: 15px;
    height: 12px;
    opacity: 1;
    border-width: 1.5px;
    margin-left: 13.5px;
}

footer li {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 19.5px;
}
