@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-style: italic;
    font-weight: 100 900;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: end;
    width: 360px;
}

#dino {
    display: flex;
    align-items: end;
}

#dino img {
    width: 42px;
    height: 46px;
    opacity: 1;
}

#robot img {
    width: 32px;
    height: 40px;
    opacity: 1;
}

footer p {
    color: #C5C5C5;
}

footer h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 100%;
    color: #EDEDED;
    width: 131px;
    height: 20px;
    opacity: 1;
    margin: 8px 0 0;
}

hr {
    width: 136px;
    opacity: 1;
    margin: 0px 4px;
}

#div-der p {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    font-size: 5px;
    line-height: 100%;
    text-align: center;
    width: 137px;
    height: 6px;
    opacity: 1;
}

#div-izq p {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    font-size: 6px;
    line-height: 100%;
    margin: 0px;
}

#div-izq {
    background-color: #1F1F1F;
    width: 76px;
    height: 40px;
    opacity: 1;
    border-radius: 4px;
}

#div-der {
    background-color: #1F1F1F;
    width: 144px;
    height: 40px;
    opacity: 1;
    border-radius: 4px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul img {
    width: 10px;
    height: 8px;
    opacity: 1;
    border-width: 1px;
    margin-left: 9px;
}

footer li {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 13px;
}