@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-style: italic;
    font-weight: 100 900;
}

header{
    background-color: #242424;
    align-items: end;
    height: 150px;
}

header p{
    color: #C5C5C5;
    margin: 0px;
}

header h1{
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    font-size: 43.2px;
    line-height: 100%;
    color: #EDEDED;
    width: 311.85px;
    height: 49.5px;
    opacity: 1;
    margin: 18px 0px 0px;
}

#antesDelNav{
    background-color: #242424;
    height: 22.5px;
}

nav{
    background-color: black;
    height: 27px;
}

header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

header ul p{
    font-size: 10.5px;
    text-align: center;
}

header ul img{
    width: 24px;
    height: 18px;
}

#circulo-carrito{
    background-color: #242424;
    border-radius: 50%;
    width: 19.5px;
    height: 19.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circulo-carrito img{
    width: 15px;
    height: 15px;
}

a{
    text-decoration: none;
}

a:active{
    text-decoration: underline white;
}

header li{
    display: flex;
    align-items: center;
    gap: 4.5px;
    height: 31.5px;
}

header button{
    border: none;
    background-color: #24242400;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    padding: 0px;
    color: #C5C5C5;
    font-size: 10.5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo img{
    width: 495px;
    height: 100.5px;
}

#inicio-sesion::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}

#inicio-sesion{
    width: 18.5%;
    aspect-ratio: 1/1;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border: solid 3px rgb(103, 103, 103);
    border-radius: 13.5px;
}

.izq-m{
    width: 60%;
    margin-left: 4.5px;
    height: 100%;
}

.der-m{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#centro-modal{
    display: flex;
}

#candado{
    margin-top: 31.5px;
    width: 100%;
}

.olvidaste{
    display: flex;
    width: 100%;
    align-items: center;
}

.olvidaste img{
    aspect-ratio: 1;
    width: 13.5px;
    height: 13.5px;
}

.olvidaste p{
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 1.5px;
    border-bottom: solid 0.45px rgb(255, 255, 255);
    font-size: 9px;
}

#t-inicio{
    text-align: center;
    background-color: #242424;
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    font-size: 30.5px;
    color: #C5C5C5;
    margin-top: 18.5px;
    margin-bottom: 0px;
}

.input-sesion{
    width: 85%;
    height: 25.5px;
    border-radius: 12px;
    background-color: #24242400;
    border: solid 1.5px white;
    outline: none;
    padding-left: 10px;
}

.titulo-input-modal{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
    width: 78%;
}

#ingresar{
    margin-top: 14px;
    width: 85%;
    height: 25.5px;
    border-radius: 12px;
    font-weight: 700;
    background-color: #3f3f3f;
    color: white;
    border: solid 1.5px rgb(0, 0, 0);
}

#google{
    width: 78%;
    height: 24px;
    border-radius: 12px;
    margin-top: 0px;
    background-color: #f9f5f5;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 6px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: 1.5px solid gold;
}

#google img{
    margin-right: 1.5px;
}

#Inicia-sesion{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #242424;
}

#no-tienes-cuenta{
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 40px;
}

#registrarse-boton{
    margin-bottom: 9px;
    margin-top: 0px;
    width: 48%;
    height: 26.25px;
    border-radius: 12px;
    background-color: #2d2d2d17;
    color: white;
    border: solid 0.45px rgb(0, 0, 0);
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    font-size: 16.5px;
    margin-right: 40px;
}

#btn-cerrar{
    display: none;
}

#inicio-sesion a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 900px) {
  #inicio-sesion{
    width: 40.5%;
  }
}
@media (max-width: 700px) {
  #inicio-sesion{
    width: 45.5%;
  }
}
@media (max-width: 600px) {
  #inicio-sesion{
    width: 50.5%;
  }
}
