@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-style: italic;
    font-weight: 100 900;
}

header{
    background-color: #242424;
    align-items: end;
}

p{
    color: #C5C5C5;
}

h1{
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 96px;
    line-height: 100%;
    color: #EDEDED;
    width: 693;
    height: 110;
    opacity: 1;
    margin: 40px 0px 0px;
}

#antesDelNav{
    background-color: #242424;
    height: 50px;
}

nav{
    background-color: black;
    height: 60px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
    height: 100%;
}

ul p{
    font-size: 24px;
    text-align: center;
}

ul img{
    width: 56.07475662231445;
    height: 43.047847747802734;
    opacity: 1;
    border-width: 1.5px;
    margin-left: 50px;
}

#circulo-carrito{
    background-color: #242424;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

#circulo-carrito img{
    width: 34px;
    height: 34px;
    margin-top: 7px;
    position: absolute;
    left: 100px;
}

a{
    text-decoration: none;
}

a:active{
    text-decoration: underline white;  
}

li{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 70px;
}

#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo img{
    width: 1100px;
    height: 225px;
}
button{
    border: none;
    background-color: #24242400;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0px;
    padding: 0px;
    color: #C5C5C5;
    font-size: 24px;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: 'Times New Roman', Times, serif;
    
}
#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}

#modal{
    width: 28%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border: solid 6px rgb(103, 103, 103);
    border-radius: 30px;
}
#izq-m{
    width: 40%;
}
#der-m{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#centro-modal{
    display: flex;
}
#candado{
    margin-top: 13px;
}
.olvidaste{
    display: flex;
    width: 100%;
    align-items: center;
}
.olvidaste img{
    aspect-ratio: 1;
    width: 30px;
    height: 30px;
}
#t-inicio{
    text-align: center;
    background-color: #242424;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 43px;
    color: #C5C5C5;
    margin-bottom: 10px;
}
.input-sesion{
    width: 80%;
    height: 45px;
    border-radius: 27px;
    background-color: #24242400;
    border: solid 1px white;
}
#ingresar{
    width: 80%;
    height: 45px;
    border-radius: 27px;
    background-color: #2d2d2d;
    color: white;
    border: solid 1px rgb(0, 0, 0);
}
#google{
    width: 80%;
    height: 45px;
    border-radius: 27px;
    background-color: #f9f5f5;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(243, 238, 0);
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}