@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-style: italic;
    font-weight: 100 900;
}

header{
    background-color: #242424;
    align-items: end;
}

header p{
    color: #C5C5C5;
    margin: 0px;
}

header h1{
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 28.8px;   /* 96 → 28.8 */
    line-height: 100%;
    color: #EDEDED;
    width: 207.9px;      /* 693 → 207.9 */
    height: 33px;        /* 110 → 33 */
    opacity: 1;
    margin: 12px 0px 0px; /* 40 → 12 */
}

#antesDelNav{
    background-color: #242424;
    height: 15px;        /* 50 → 15 */
}

nav{
    background-color: black;
    height: 18px;        /* 60 → 18 */
}

header ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

header ul p{
    font-size: 7px;  
    text-align: center;
}

header ul img{
    width: 16px;    
    height: 12px;    
}

#circulo-carrito{
    background-color: #242424;
    border-radius: 50%;
    width: 13px;  
    height: 13px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

#circulo-carrito img{
    width: 10px;   
    height: 10px;     
}

a{
    text-decoration: none;
}

a:active{
    text-decoration: underline white;
}

header li{
    display: flex;
    align-items: center;
    gap: 3px;         
    height: 21px;     
}

button{
    border: none;
    background-color: #24242400;
    margin-top: 7px;     
    margin-bottom: 7px; 
    padding: 0px;
    color: #C5C5C5;
    font-size: 7px;    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo img{
    width: 330px;  
    height: 67px;   
}

#inicio-sesion::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}

#inicio-sesion{
    width: 29%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border: solid 2px rgb(103, 103, 103); 
    border-radius: 9px;                    
}

.izq-m{
    width: 40%;
    margin-left: 3px;   
}

.der-m{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#centro-modal{
    display: flex;
}

#candado{
    margin-top: 21px;    
    width: 33%;           
}

.olvidaste{
    display: flex;
    width: 100%;
    align-items: center;
}

.olvidaste img{
    aspect-ratio: 1;
    width: 9px;           
    height: 9px;          
}

.olvidaste-p{
    margin-top: 4px;    
    margin-bottom: 4px;  
    padding-bottom: 1px;  
    border-bottom: solid 0.3px rgb(255, 255, 255);
}

#t-inicio{
    text-align: center;
    background-color: #242424;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Italic;
    font-size: 13px;    
    color: #C5C5C5;
    margin-top: 9px;      
    margin-bottom: 0px;
}

.input-sesion{
    width: 85%;
    height: 13px;      
    border-radius: 8px;  
    background-color: #24242400;
    border: solid 1px white;  
    outline: none;
    padding-left: 4px;   
}

.titulo-input-modal{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 4px;       
    margin-top: 3px;      
    margin-bottom: 3px;   
    width: 78%;
}

#ingresar{
    margin-top: 6px;        
    width: 85%;
    height: 13px;         
    border-radius: 8px;   
    font-weight: 700;
    background-color: #3f3f3f;
    color: white;
    border: solid 1px rgb(0, 0, 0); 
}

#google{
    width: 68%;
    height: 12px;          
    border-radius: 8px;  
    margin-top: 0px;
    background-color: #f9f5f5;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 4px;      
    display: flex;
    align-items: center;
    padding-left: 1%;
    border: 1px solid gold; 
}

#google img{
    margin-right: 1px;    
}

#Inicia-sesion{
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 4px;     
    color: #242424;
}

#no-tienes-cuenta{
    font-weight: 700;
    font-size: 4px;      
    text-align: center;
    margin-bottom: 2px;   
    margin-top: 2px;     
}

#registrarse-boton{
    margin-bottom: 6px;   
    margin-top: 0px;
    width: 18%;            
    height: 13.5px;        
    border-radius: 8px;
    background-color: #2d2d2d17;
    color: white;
    border: solid 0.3px rgb(0, 0, 0);
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    font-size: 7px;    
}

#btn-cerrar{
    display: none;
}

#inicio-sesion a {
  color: inherit;
  text-decoration: none;
}