@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}

html {
  background-image: url(../img/fondo-lineas.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 11px;
  line-height: 100%;
  text-align: center;
  margin: 0px;
}

main {
  width: 360px;
  height: 389px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  background-color: #242424;
  color: #C5C5C5;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}

.arriba {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desc {
  width: 133px;
  height: 188px;
  border: white 1px solid;
  border-radius: 7px;
  padding: 2px;
  font-size: 9px;
}

.abajo {
  width: 325px;
  height: 125px;
  border-radius: 9px;
  border: #111111 1px solid;
  background: #949494;
  padding: 6px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.carrusel {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.carrusel img {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.carrusel img.active {
  display: block;
}

.boton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 3px;
  cursor: pointer;
  font-size: 7px;
  border-radius: 2px;
}

.prev { left: 3px; }
.next { right: 3px; }

.indicadores {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2px;
}

.indicadores span {
  width: 4px;
  height: 4px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicadores span.active {
  background: white;
}