@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/fondo-lineas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#contenedor-de-producto{
    opacity: 1;
    border-radius: 10px;
    border-width: 0.3px;
    background-color: #272727;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    color: #C5C5C5;
    width: 265px;
    height: 223px;
}

.imagen{
    width: 153px;
    height: 123px;
    opacity: 1;
    border-radius: 9px;
    border-width: 0.3px;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

.precio{
    width: 59px;
    height: 35px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    background-color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 10px;
}

.boton{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-evenly;
}

.contador{
    width: 59px;
    height: 24px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    background-color: #656565;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador button{
    width: 18px;
    height: 18px;
    background-color: #656565;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.contador span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 10px;
    margin: 0 6px;
}

.descripcion{
    width: 96px;
    height: 166px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 6px;
    overflow-y: auto;
    border: 1px solid #C5C5C5;
    text-align: center;
}

.carrito{
    width: 96px;
    height: 38px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    background-color: #AAD0B4;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}

#izq{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#der{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#modal-de-producto{
    width: auto;
    height: auto;
}