@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
    background-image: url(../img/fondo-lineas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-image: url(../img/fondo-lineas.png);
}

h1{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    text-align: center;
}

main{
    width: 360px;
    height: 389px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    background-color: #242424;
    color: #C5C5C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 6px;
    width: 300px;
    margin-top: 9px;
}

.producto img{
    width: 114px;
    height: 126px;
    border-radius: 9px;
    cursor: pointer;
}

h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
}

button{
    width: 13px;
    height: 22px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 100%;
}

.imagen{
    width: 153px;
    height: 123px;
    opacity: 1;
    border-radius: 9px;
    border-width: 0.3px;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

.precio{
    width: 59px;
    height: 35px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    background-color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 10px;
}

.boton{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-evenly;
}

.contador{
    width: 59px;
    height: 24px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    background-color: #656565;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador button{
    width: 18px;
    height: 18px;
    background-color: #656565;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.contador span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 10px;
    margin: 0 6px;
}

.descripcion{
    width: 96px;
    height: 166px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 6px;
    overflow-y: auto;
    border: 1px solid #C5C5C5;
    text-align: center;
}

.carrito{
    width: 96px;
    height: 38px;
    opacity: 1;
    border-radius: 8px;
    border-width: 0.3px;
    background-color: #AAD0B4;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

#izq{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#der{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#contenedor-de-producto{
    opacity: 1;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    color: #C5C5C5;
    padding: 3px;
    padding-top: 5px;
}

#modal-de-producto1,
#modal-de-producto2,
#modal-de-producto3,
#modal-de-producto4{
    width: 50%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border-radius: 9px;
    max-width: 275px;
}