@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/fondo-lineas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


#contenedor-de-producto{
    opacity: 1;
    border-radius: 33px;
    border-width: 1px;
    background-color: #272727;
    display: flex;
    padding: 2%;
    justify-content: space-between;    
    color: #C5C5C5;
    width: 883px;
    height: 743px;
}

.imagen{
    width: 510px;
    height: 410px;
    opacity: 1;
    border-radius: 30px;
    border-width: 1px;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/* h1{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
} */

.precio{
    width: 198px;
    height: 117px;
    opacity: 1;
    border-radius: 28px;
    border-width: 1px;
    background-color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
}

.boton{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.contador{
    width: 198px;
    height: 79px;
    opacity: 1;
    border-radius: 28px;
    border-width: 1px;
    background-color: #656565;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador button{
    width: 60px;
    height: 60px;
    background-color: #656565;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.contador span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    margin: 0 20px;
}

.descripcion{
    width: 320px;
    height: 553px;
    opacity: 1;
    border-radius: 26px;
    border-width: 1px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    overflow-y: auto;
    border: 1px solid #C5C5C5;
    text-align: center;
}

.carrito{
    width: 320px;
    height: 125px;
    opacity: 1;
    border-radius: 28px;
    border-width: 1px;
    background-color: #AAD0B4;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

#izq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#der{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#modal-de-producto{
    width: auto;
    height: auto;
}
