@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(../img/fondo-lineas.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 225%;
    width: 810px;
}

h1{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24.75px;
    line-height: 100%;
    text-align: center;
    margin-top: 50px;
}

main{
    width: 810px;
    height: 750px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 27px;
    line-height: 100%;
    text-align: center;
    background-color: #242424;
    color: #C5C5C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 13.5px;
    width: 675px;
    margin-top: 5px;
}

.producto img{
    width: 226.5px;
    height: 223.5px;
    border-radius: 20.25px;
    cursor: pointer;
}

h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 27px;
    line-height: 100%;
    text-align: center;
}

button{
    width: 39.25px;
    height: 59.5px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

button span{
    font-size: 40px;
}

button a, button a:hover{
    color: white;
    text-decoration: none;
}

.imagen{
    width: 344.25px;
    height: 276.75px;
    opacity: 1;
    border-radius: 20.25px;
    border-width: 0.675px;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 20.25px;
}

.precio{
    width: 132.75px;
    height: 78.75px;
    opacity: 1;
    border-radius: 18px;
    border-width: 0.675px;
    background-color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22.5px;
}

.boton{
    display: flex;
    gap: 13.5px;
    align-items: center;
    justify-content: space-evenly;
}

.contador{
    width: 132.75px;
    height: 54px;
    opacity: 1;
    border-radius: 18px;
    border-width: 0.675px;
    background-color: #656565;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador button{
    width: 40.5px;
    height: 40.5px;
    background-color: #656565;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 31.5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.contador span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22.5px;
    margin: 0 13.5px;
}

.descripcion{
    width: 216px;
    height: 373.5px;
    opacity: 1;
    border-radius: 18px;
    border-width: 0.675px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13.5px;
    overflow-y: auto;
    border: 1px solid #C5C5C5;
    text-align: center;
}

.carrito{
    width: 216px;
    height: 85.5px;
    opacity: 1;
    border-radius: 18px;
    border-width: 0.675px;
    background-color: #AAD0B4;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24.75px;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 11.25px;
}

.carrito p{
    color: #ffffff;
}


#izq{
    display: flex;
    flex-direction: column;
    gap: 20.25px;
}

#der{
    display: flex;
    flex-direction: column;
    gap: 13.5px;
}

#contenedor-de-producto{
    opacity: 1;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    color: #C5C5C5;
    padding: 6.75px;
    padding-top: 11.25px;
}

#modal-de-producto1,
#modal-de-producto2,
#modal-de-producto3,
#modal-de-producto4{
    width: 112.5%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border-radius: 20.25px;
    max-width: 618.75px;
}
@media (max-width: 1000px) {
  html{
   background-image: url(../img/fondo-lineas.png);
   background-repeat: no-repeat;
  }
}