@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
   background-image: url(../img/fondo-lineas.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 36px;
   line-height: 100%;
   text-align: center;
}

main{
   width: 1200px;
   height: 1295px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 40px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 1000px;
    margin-top: 30px;
}

.producto img{
    width: 381px;
    height: 420px;
    border-radius: 30px;
    cursor: pointer;
}

h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
}

button{
    width: 43px;
    height: 74px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 100%;
}