@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
   background-image: url(../img/fondo-lineas.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

body{
    background-image: url(../img/fondo-lineas.png);
}

h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 36px;
   line-height: 100%;
   text-align: center;
}

main{
   width: 1200px;
   height: 1295px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 40px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 1000px;
    margin-top: 30px;
}

.producto img{
    width: 381px;
    height: 420px;
    border-radius: 30px;
    cursor: pointer;
}

h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
}

button{
    width: 43px;
    height: 74px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 100%;
}

.imagen{
    width: 510px;
    height: 410px;
    opacity: 1;
    border-radius: 30px;
    border-width: 1px;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/* h1{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
} */

.precio{
    width: 198px;
    height: 117px;
    opacity: 1;
    border-radius: 28px;
    border-width: 1px;
    background-color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
}

.boton{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.contador{
    width: 198px;
    height: 79px;
    opacity: 1;
    border-radius: 28px;
    border-width: 1px;
    background-color: #656565;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador button{
    width: 60px;
    height: 60px;
    background-color: #656565;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.contador span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    margin: 0 20px;
}

.descripcion{
    width: 320px;
    height: 553px;
    opacity: 1;
    border-radius: 26px;
    border-width: 1px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    overflow-y: auto;
    border: 1px solid #C5C5C5;
    text-align: center;
}

.carrito{
    width: 320px;
    height: 125px;
    opacity: 1;
    border-radius: 28px;
    border-width: 1px;
    background-color: #AAD0B4;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}

#izq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#der{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#contenedor-de-producto{
    opacity: 1;
    background-color: #272727;
    display: flex;
    justify-content: space-between;    
    color: #C5C5C5;
    padding: 10px;
    padding-top: 18px;
}
#modal-de-producto1,#modal-de-producto2,#modal-de-producto3,#modal-de-producto4{
    width: 50%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    border-radius: 30px;
}

