@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(../img/fondo-lineas.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 225%;
    width: 810px;
}

h1{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 16.5px;
   line-height: 100%;
   text-align: center;
}

h2{
   text-decoration: underline 1.5px;
   text-underline-offset: 4.5px;
}

main{
   width: 810px;
   height: 800px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 18px;
   line-height: 100%;
   text-align: center;
   background-color: #242424;
   color: #C5C5C5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.imagen{
   border-radius: 30px;
}

.imagen img{
   width: 280px;
   height: 280px;
   border-radius: 30px;
}

.registro{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 830;
   height: 830;
   border-radius: 26px;
   border: 1px #FFFFFF solid;
   padding: 1%;
   margin-left: 20px;
   margin-right: 20px;
}

.form{
   text-align: center;
}

form{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 700px;
   justify-content: space-around;
   width: 400px;
}

.form input{
   width: 295px;
   height: 26px;
   border: #FFFFFF 1px solid;
   border-radius: 26px;
   font-family: 'Inter';
   font-weight: 600;
   font-size: 15px;
   padding: 2%;
   text-align: center;
   margin-bottom: 10px;
}

.form h2{
   width: 500px;
   height: 47px;
   margin: 0px;
   font-size: 20px;
}

.form button{
   width: 300px;
   height: 100px;
   border-radius: 26px;
   border: #FFFFFF 1px solid;
   cursor: pointer;
}

.form button{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 40px;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: center;
}