<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - MauEn3D</title>
    <link rel="stylesheet" href="../css/carrito.css">
</head>
<body>

<main>
   <h1>Carrito de Compras</h1>

   <div class="compra">
      <div class="productos">
         <h2>Productos</h2>
         <!-- <div class="carrito">Aca va el carrito en JS</div> -->
         <div class="total">
            <h3>Total:</h3> <div class="precio">$$$$$$</div>
         </div>
      </div>
      
      <div class="medios">
         <h2>Medio de pago</h2>
         <button id="mp"><img src="../img/simple-icons_mercadopago.png" alt="mp logo">Mercado Pago</button>
         <button id="cre-deb"><img src="../img/visa-mastercard.jpg" alt="visa/mastercard logo">Crédito o Débito</button>
         <button id="efe"><img src="../img/vaadin_cash.png" alt="efectivo logo">Efectivo</button>
      </div>                        
   </div>
</main>

</body>
</html>