<link rel="stylesheet" href="../css/footer.css">
<footer>
    <div id="dino">
        <img src="../img/game-icons--dinosaur-rex.png" alt="dinosaurio-icono">
    </div>

    <div id="div-izq">
        <ul>
            <li><p>Envío Rápido</p></li>
            <li><p>Seguro y Pro 🔥</p></li>
            <li><p>Devolución</p></li>
        </ul>
    </div>

    <div id="div-der">
        <h1>@MauEn3D</h1>
        <hr>
        <p>Copyright Mauuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
    </div>

    <div id="robot">
        <img src="../img/game-icons--tracked-robot.png" alt="robot.icono">
    </div>
</footer>